body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0 50px;
    background-color: #f7dba7;
}

.raport-title {
    text-align: center;
}

.item-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    background-color: rgb(250, 239, 220);
    padding: 10px 30px;
}

.item-container a {
    text-align: center;
}

img {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.subtitle {
  background-color: #c57c57d0;
  color: white;
}


