body{
	background-color: #f1ab86;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.content {
	align-items: center;
	background-color: #f1ab86;
	display: flex;
	flex-direction: column;
}

.container {
	align-items: center;
	background-color: #f7dba7;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

button {
	background-color: #c57c57af;
	border-radius: 4px;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	padding: 10px 100px;
	width: 95%;
}

button:hover {
	background-color: #ac562caf;
}

button:disabled {
	background-color: #e9bca4a8;
	border: 2px solid #ceb0a1af;
	color: #ceb0a1;
}

.user-message{
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 4px;
  position:absolute;
  right: 30px;
}

/* TopBar begin */
.topnav {
	overflow: hidden;
	background-color: #041F1E;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
	transition: color 0.2s linear;
	transition: background-color 0.2s linear;
  }
  
  .topnav a.active {
	background-color: #C57B57;
	color: white;
	padding: 0px 16px;
  }
  
  .topnav a.active:hover {
	  background-color: #F1AB86;
	  color: black;
	  transition: color 0.2s linear;
	  transition: background-color 0.2s linear;
  }
  
  .topnav #logoutBtn {
	background-color: #B20202;
  }

  .topnav #logoutBtn:hover {
	  color:black;
	  background-color: white; 	
  }

  .topnav img{
	display:block;
	width:50px;
	height:50px;
  }	

  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width: 900px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 900px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }
  /* TopBar end */
