body {
  background-color: #f1ab86;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.user-message{
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 4px;
  position:absolute;
  right: 30px;
}

/* TopBar begin */
.topnav {
  overflow: hidden;
  background-color: #041f1e;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}

.topnav a.active {
  background-color: #c57b57;
  color: white;
  padding: 0px 16px;
}

.topnav a.active:hover {
  background-color: #f1ab86;
  color: black;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}

.topnav #logoutBtn {
	background-color: #B20202;
  }

.topnav #logoutBtn:hover {
  color:black;
  background-color: white; 	
}

.topnav img {
  display: block;
  width: 50px;
  height: 50px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* TopBar end */

.content {
  align-items: center;
  background-color: #f1ab86;
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  background-color: #f7dba7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

button {
  background-color: #c57c57af;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  /* width: 90%; */
}

button:hover {
  background-color: #ac562caf;
}

.badge {
  background-color: #c57c57af;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 100px;
  text-align: center;
}

.badge:hover {
  background-color: #ac562caf;
}

.badge img {
  width: 15%;
  height: 15%;
}

.badge.text {
  font-size: larger;
}

.progressBarContainer {
  background-color: #c57c57af;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 20px 100px;
  text-align: center;
}

.progressBarContainer #text {
  padding: 10px;
}

#progressBar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 100%;
  padding: 3px;
}

:root {
  --progress: 20%;
}

#progressBar:after {
  content: '';
  display: block;
  background: orange;
  width: var(--progress);
  height: 100%;
  border-radius: 9px;
}

@media screen and (max-width: 600px) {
  .badge img {
    width: 30%;
    height: 30%;
  }
}
