body {
  align-items: center;
  background-color: #f1ab86;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  margin: 10% 0;
  text-align: center;
  width: 40%;
}

.redirect-button {
  background-color: #041f1e;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  width: 100%;
  cursor: pointer;
}

/* Responsive */

/* Ipad portrait*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .message-container {
    width: 50%;
  }
}

/* --- Phone --- */

/* Portrait */
@media only screen and (min-width: 10px) and (max-width: 667px) and (orientation: portrait) {
  .message-container {
    width: 90%;
  }
  .redirect-button {
    font-size: 18px;
  }
}

/* Landscape */
@media only screen and (min-width: 375px) and (max-width: 736px) and (orientation: landscape) {
  .message-container {
    width: 70%;
  }
  .redirect-button {
    font-size: 18px;
  }
}
