.contentContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.user-message{
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 4px;
  position:absolute;
  right: 30px;
}

.title{
    flex-basis: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.descriptionContainer{
    margin-top: 2%;
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descriptionText{
    flex-basis: 70%;
    text-align: left;
    font-size: large;
}

.profImg{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color:#041F1E;
    border-width: 2px;
}

/* TopBar begin */
.topnav {
	overflow: hidden;
	background-color: #041F1E;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
	transition: color 0.2s linear;
	transition: background-color 0.2s linear;
  }
  
  .topnav a.active {
	background-color: #C57B57;
	color: white;
	padding: 0px 16px;
  }
  
  .topnav a.active:hover {
	  background-color: #F1AB86;
	  color: black;
	  transition: color 0.2s linear;
	  transition: background-color 0.2s linear;
  }
  
  .topnav #logoutBtn {
	background-color: #B20202;
  }

  .topnav #logoutBtn:hover {
	  color:black;
	  background-color: white; 	
  }

  .topnav img{
	display:block;
	width:50px;
	height:50px;
  }	

  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width: 900px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 900px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }
  /* TopBar end */
