body {
	align-items: center;
	background-color: #f1ab86;
	display: flex;
	flex-direction: column;
}

.message {
    color: red;
    margin-top: -20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container {
	align-items: center;
	animation-direction: alternate;
	animation: rotate 1.5s ease-out;
	background-color: #f7dba7;
	border-radius: 8px;
	box-shadow: 6px 6px #22211fc4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10% 0;
	width: 30%;
}

@keyframes rotate {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.form-title {
	color: #1e2d2f;
	font-size: 30px;
}

.login-form {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.login-form-label {
	color: #c57b57;
	font-size: 18px;
	font-weight: bold;
}

input {
	border: 1px solid #f1ab86;
	color: #1e2d2f;
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	margin-bottom: 8px;
	padding: 0 5px;
	width: 80%;
}

input:focus {
	outline: none;
}

.login-button {
	background-color: #041f1e;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px 20px;
	transition-duration: 0.4s;
	width: 80%;
}

.login-button:hover {
	background-color: #c57b57;
	color: white;
	cursor: pointer;
}

.gotoLink {
	font-weight: bold;
}

p {
	margin: 20px 10px;
}

/* Responsive */

/* Ipad portrait*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
	.form-container {
		width: 50%;
	}
}

/* --- Phone --- */

/* Portrait */
@media only screen and (min-width: 10px) and (max-width: 667px) and (orientation: portrait) {
	.form-title {
		color: #1e2d2f;
		font-size: 40px;
	}
	.form-container {
		width: 90%;
	}

	.login-form-label {
		font-size: 30px;
	}
	input {
		font-size: 20px;
		height: 35px;
	}
	.login-button {
		font-size: 18px;
	}
}

/* Landscape */
@media only screen and (min-width: 375px) and (max-width: 736px) and (orientation: landscape) {
	.form-title {
		color: #1e2d2f;
		font-size: 30px;
	}
	.form-container {
		width: 70%;
	}

	.login-form-label {
		font-size: 25px;
	}
	input {
		font-size: 20px;
		height: 35px;
	}
	.login-button {
		font-size: 18px;
	}
}
