body,
.content {
  align-items: center;
  background-color: #f1ab86;
  display: flex;
  flex-direction: column;
}

.user-message{
  font-weight: bold;
  text-align: center;
  width: 40%;
  background-color: #f7dba7;
  color: brown;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.container {
  align-items: center;
  background-color: #f7dba7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

button {
  background-color: #c57c57af;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 5px 100px;
  width: 95%;
  height: 10vh;
}

button:hover {
  background-color: #ac562caf;
}

button:disabled {
  background-color: #e9bca4a8;
  border: 2px solid #ceb0a1af;
  color: #ceb0a1;
}
button > span {
  margin: 12px;
}
