body {
  margin: 0 50px;
  background-color: #f7dba7;
}

.raport-title,
.date {
  text-align: center;
}

.subtitle {
  background-color: #c57c57d0;
  color: white;
  margin-bottom: -15px;
}

.item-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    background-color: rgb(250, 239, 220);
    padding: 10px 30px;
}

.section-content {
  background-color: rgb(250, 239, 220);
}

