hr{
    border-style: solid;
    border-color: #041F1E;
    border-width: 2px;
}

.user-message{
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 4px;
  position:absolute;
  right: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.topicLink{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    max-width: 20%;
    margin: 1%;
    text-decoration: none;
}

.gridContainer{
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topic{
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #041F1E;
}

.topicImage{
    height: 200px;
    width:98%;
    border-width: 2px;
    border-style: solid;
    border-color: #041F1E;
}

.topicTitle{
    color: #041F1E;
    color: aliceblue;
    font-size: 20px;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-right: 2px;
    border-right-style: solid;
    border-color: #041F1E;

}

.popupContainer{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height:  100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.popup{
    border-width: 20px;
    border-color: #041F1E;
    border-style: solid;
    background-color:rgb(248, 227, 187);
    margin: 10% auto; 
    padding: 20px;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.lectureContent{
    display: block;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.controlPanelPopup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}

.controlPanelItem{
    margin: 2px;
    background-color:rgb(248, 227, 187);
    border-style: none;
}

.controlPanelImage{
    margin-top: 2px;
    width: 12px;
    height: 12px;
    background-color: transparent;
}

.quizContent{
    display: none;
}

/* media queries */

@media screen  
  and (max-width: 820px) 
  and (min-width: 500px){
      .topicLink{
        flex-basis: 35%;
        max-width: 35%;
      }
  }

@media screen  
  and (max-width: 500px) {
    .topicLink{
    flex-basis: 50%;
    max-width: 100%;
    }
}

/* TopBar begin */
.topnav {
	overflow: hidden;
	background-color: #041F1E;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
	transition: color 0.2s linear;
	transition: background-color 0.2s linear;
  }
  
  .topnav a.active {
	background-color: #C57B57;
	color: white;
	padding: 0px 16px;
  }
  
  .topnav a.active:hover {
	  background-color: #F1AB86;
	  color: black;
	  transition: color 0.2s linear;
	  transition: background-color 0.2s linear;
  }
  
  .topnav #logoutBtn {
	background-color: #B20202;
  }

  .topnav #logoutBtn:hover {
	  color:black;
	  background-color: white; 	
  }

  .topnav img{
	display:block;
	width:50px;
	height:50px;
  }	

  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width: 900px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 900px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }
  /* TopBar end */
  