body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f7dba7;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	width: 70%;
}

button {
	background-color: #c57c57af;
	border-radius: 4px;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	padding: 10px 100px;
}

button:hover {
	background-color: #ac562caf;
}

button:disabled {
	background-color: #e9bca4a8;
	border: 2px solid #ceb0a1af;
	color: #ceb0a1;
}
