
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F7DBA7;
}

a {
  cursor: pointer;
}

/* TopBar begin */
.topnav {
  overflow: hidden;
  background-color: #041F1E;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}

.topnav a.active {
  background-color: #C57B57;
  color: white;
  padding: 0px 16px;
}

.topnav a.active:hover {
    background-color: #F1AB86;
    color: black;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

.topnav img{
  display:block;
  width:50px;
  height:50px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* TopBar end */